@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #26282b;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #26282b;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #003a1e;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
}

header:hover {
    opacity: 1;
}

header p {
    position: start;
    text-align: start;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

.button {
    background-color: #012f6b;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    background-color: #006eff;
}

.button a {
    color: #fff;
    text-decoration: none;
}

table {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70vh;
    color: #fff;
    font-family: 'Syne Mono', monospace;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 2px;
    margin-left: 25%;
    margin-top: 5px;
    user-select: none;
}

td {
    width: 25%;
    text-align: center;
    font-size: 40px;
    background-color: #000000;
    border-radius: 5px;
}

td:hover {
    background-color: #000;
    cursor: pointer;
}

#Ergebnisfeld {
    height: 20vh;
    background-color: #303030;
    color: #fff;
    font-size: 60px;
    display: flex;
    text-align: center;
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: context-menu;
}

#Ergebnisfeld:hover {
    cursor: crosshair;
    user-select: none;
}

#Zurück {
    background-color: #353535;
}

#Zurück:hover {
    background-color: red;
}

#geteilt {
    background-color: #353535;
}

#geteilt:hover {
    background-color: #ffff00bb;
}

#mal {
    background-color: #353535;
}

#mal:hover {
    background-color: #ffff00bb;
}

#istgleich {
    background-color: #353535;
}

#istgleich:hover {
    background-color: blue;
}

#plus {
    background-color: #353535;
}

#plus:hover {
    background-color: #ffff00bb;
}

#komma {
    background-color: #353535;
}

#komma:hover {
    background-color: #ffff00bb;
}

#minus {
    background-color: #353535;
}

#minus:hover {
    background-color: #ffff00bb;
}

#löschen {
    background-color: #353535;
}

#löschen:hover {
    background-color: red;
}

#textinergebnisfeld {
    font-size: 55px;
    color: #2eb968;
}

.zahlen {
    background-color: rgb(2, 119, 47);
}

.zahlen:hover {
    background-color: rgb(238, 174, 0);
}

.leer {
    background-color: #353535;
    color: #353535;
    cursor: not-allowed;
}

.leer:hover {
    background-color: #353535;
    color: red;
    cursor: not-allowed;
}

.rechenzichen {
    padding: 20px;
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 860px) {
    table {
        margin-right: 25%;
    }
    #löschen {
        padding: 20px;
    }
    #leer {
        padding: 20px;
    }
    .zahlen {
        padding: 20px;
    }
    #mal {
        padding: 20px;
    }
    #minus {
        padding: 20px;
    }
    #istgleich {
        padding: 20px;
    }
    #plus {
        padding: 20px;
    }
}

@media (max-width: 1044px) {
    #textinergebnisfeld {
        font-size: 50px;
    }
}

@media (max-width: 1044px) {
    #textinergebnisfeld {
        font-size: 40px;
    }
}

@media (max-width: 860px) {
    #Ergebnisfeld {
        padding-right: 60px;
        padding-left: 60px;
        margin-left: 25%;
        margin-right: 23%;
    }
}

@media (max-width: 810px) {
    #Ergebnisfeld {
        padding-right: 60px;
        padding-left: 60px;
        margin-left: 25%;
        margin-right: 21%;
    }
}

@media (max-width: 770px) {
    #Ergebnisfeld {
        padding-right: 60px;
        padding-left: 60px;
        margin-left: 25%;
        margin-right: 18%;
    }
}

@media (max-width: 720px) {
    #Ergebnisfeld {
        padding-right: 60px;
        padding-left: 60px;
        margin-left: 25%;
        margin-right: 16%;
    }
}

@media (max-width: 700px) {
    #Ergebnisfeld {
        padding-right: 60px;
        padding-left: 60px;
        margin-left: 25%;
        margin-right: 14%;
    }
}

@media (max-width: 680px) {
    #Ergebnisfeld {
        padding-right: 60px;
        padding-left: 60px;
        margin-left: 25%;
        margin-right: 12%;
    }
}

@media (max-width: 644px) {
    #Ergebnisfeld {
        margin-left: 20%;
        margin-right: 8%;
    }
    table {
        margin-left: 20%;
    }
}

@media (max-width: 595px) {
    #Ergebnisfeld {
        margin-left: 15%;
        margin-right: 8%;
    }
    table {
        margin-left: 15%;
    }
}

@media (max-width: 555px) {
    #Ergebnisfeld {
        margin-left: 5%;
        margin-right: 14%;
    }
    table {
        margin-left: 5%;
    }
}

@media (max-width: 500px) {
    #Ergebnisfeld {
        margin-left: 5%;
        margin-right: 8%;
    }
    table {
        margin-left: 5%;
    }
}

@media (max-width: 465px) {
    #textinergebnisfeld {
        font-size: 30px;
    }
    #Ergebnisfeld {
        padding: 10%;
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
    table {
        margin-left: 10%;
    }
    .leer {
        font-size: 30px;
    }
    .zahlen {
        font-size: 30px;
    }
    .rechenzichen {
        font-size: 30px;
    }
    .rechnertasten {
        font-size: 30px;
    }
}

@media (max-width: px) {
    #Ergebnisfeld {
        margin-left: 5%;
        margin-right: 3%;
    }
    table {
        margin-left: 5%;
    }
}