@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    user-select: none;
    background-color: #26282b;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #26282b;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #003a1e;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
}

header:hover {
    opacity: 1;
}

header p {
    position: start;
    text-align: start;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

footer {
    background-color: #1f2e1d;
    color: #fff;
    padding: 11px 50px;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: end;
}

.content {
    position: center;
    margin-top: 50%;
    margin-left: 50%;
}

.content h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #37ca0a;
}

.content h2:nth-child(2) {
    color: #3cff00;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

#zweitertextstartseite {
    margin-top: 200px;
}

#startbuttonmenü {
    margin-top: 70%;
    margin-left: 80%;
}

.Menüpunkte {
    color: #ffffff;
    background-color: #0d78808e;
    text-align: center;
    border: 7px solid #0d78808e;
    margin: 50px;
    font-size: 30px;
    border-radius: 20px;
}

.Menüpunkte a {
    border: 0px solid #ffffff;
    padding: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.Menüpunkte:hover {
    color: #ffffff;
    background-color: #00c3ff;
    border: 7px solid #00c3ff;
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.button {
    background-color: #012f6b;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    background-color: #006eff;
}

.button a {
    color: #fff;
    text-decoration: none;
}

#Hintergrundstart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Bilder/UBodigat.tk\ Hintergrund.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
}

main a {
    border: 0px solid #ffffff;
    padding: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 1300px) {
    main {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    main a {
        margin: 10px 0;
    }
}

@media (min-width: 1300px) {
    main {
        margin-left: 60%;
        margin-right: 50%;
    }
}

@media (min-width: 1500px) {
    main {
        margin-left: 0%;
        margin-right: 0%;
    }
}

input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(12, 85, 43);
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffff;
    margin-top: 30px;
    background: transparent;
    cursor: text;
    font-size: 23px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

input:hover {
    background-color: #283763;
    text-align: center;
    color: beige;
    border: 0;
    outline: 0;
    border-bottom: 4px solid #00ff6a;
}

input:focus {
    border: 0;
    outline: 0;
    border-bottom: 3px solid #00ff6a;
}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #00461e;
    color: #ffffff;
    border: unset;
    padding: 12px;
    border-radius: 4px;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button:hover {
    background-color: #00ff6e;
}

#senden {
    cursor: no-drop;
    margin-left: 10px;
}

#kontaktformular {
    padding: 50px;
    padding-top: 10px;
    padding-right: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 5px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#kontaktformularüberschrift {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

#zurückbuttonkon {
    margin-top: 10%;
}

#grundkontaktformular {
    width: 100%;
    padding-top: 5px;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.überschriftenvideos {
    font-size: 40px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Tutorialvideos {
    margin-top: 6%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1060px) {
    .tutorialvideos {
        width: 560;
        height: 315;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    .tutorialvideos {
        width: 530px;
        height: 285px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 30px;
    }
}

@media (max-width: 540px) {
    .tutorialvideos {
        width: 430px;
        height: 220px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 25px;
    }
}

@media (max-width: 440px) {
    .tutorialvideos {
        width: 360px;
        height: 190px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 20px;
    }
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}

#Hintergrundbeschreibung {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(Bilder/UBodigat.tk\ Beschreibung\ Hintergrund.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#beschreibungsüberschrift {
    color: #fff;
    text-align: start;
    margin-top: 5%;
    margin-left: 10%;
}

#beschreibungstext {
    color: #fff;
    text-align: start;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
}

.verlinktungenbeschreibung {
    text-align: center;
    border-radius: 2px;
    display: flex;
    margin-left: 45%;
    margin-top: 8%;
}

.buttonsbeschreibungverlinken {
    padding-left: 20px;
    margin-left: 5px;
    text-align: center;
}

@media (max-width: 1000px) {
    #beschreibungsüberschrift {
        margin-top: 15%;
    }
    #beschreibungstext {
        margin-top: 7%;
        margin-bottom: 20px;
    }
    .verlinktungenbeschreibung {
        padding: 5px;
        margin-left: 5%;
        margin-bottom: 20px;
        min-width: 0px;
        font-weight: 0;
    }
    .buttonsbeschreibungverlinken {
        padding: 10px;
    }
}

@media (max-width: 850px) {
    #beschreibungsüberschrift {
        margin-top: 15%;
    }
    #beschreibungstext {
        margin-top: 10%;
        margin-bottom: 20px;
    }
    .verlinktungenbeschreibung {
        padding: 5px;
        margin-left: 5%;
        margin-bottom: 20px;
        min-width: 0px;
        font-weight: 0;
    }
    .buttonsbeschreibungverlinken {
        padding: 10px;
    }
}

@media (max-width: 550px) {
    #beschreibungsüberschrift {
        text-align: center;
        margin-left: 15px;
        margin-top: 25%;
    }
    #beschreibungstext {
        margin-top: 10%;
        margin-bottom: 15px;
        margin-left: 0px, 0%;
        margin-right: 0px, 0%;
        text-align: center;
    }
    .verlinktungenbeschreibung {
        display: none;
    }
    .buttonsbeschreibungverlinken {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1400px) {
    .content {
        font-size: 15px;
        padding-top: 5%;
    }
}

@media (max-width: 1310px) {
    .content {
        font-size: 11px;
        padding-top: 5%;
    }
}

@media (max-width: 970px) {
    .content {
        font-size: 8px;
        margin-top: -60%;
    }
    #zweitertextstartseite {
        margin-top: 80px;
    }
    #startbuttonmenü {
        margin-top: 40%;
        margin-left: 40%;
    }
}

@media (max-width: 700px) {
    .content {
        font-size: 6px;
        margin-top: -60%;
    }
    #zweitertextstartseite {
        margin-top: 80px;
    }
    #startbuttonmenü {
        margin-top: 50%;
        margin-left: 0%;
    }
}

#downloadpage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Bilder/UBodigat.tk\ download\ Hintergrund.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

#maindownload {
    margin: 0;
    padding: 0;
}

#downloadüberschrift {
    font-size: 25px;
    text-align: left;
    margin-top: -40%;
    margin-left: 10%;
}

#downloadbeschreibung {
    text-align: left;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 15%;
}


/*Ab hier downloads (Tabelle)*/

#downloads {
    margin-top: 15%;
}

.Downloadpunkte {
    text-align: center;
    font-size: 15px;
    margin-top: 30%;
    margin-right: 90%;
    margin-left: -85%;
    background-color: #003a1e;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 19px;
}

.Downloadpunkte a {
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 10;
}

.Downloadpunkte:hover {
    text-align: center;
    font-size: 15px;
    margin-top: 30%;
    margin-right: 90%;
    margin-left: -85%;
    background-color: #00ff84;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 19px;
}

#downloads2 {
    margin-left: 15%;
    margin-right: -25%;
}

.Downloadpunktezwei {
    text-align: center;
    font-size: 30px;
    background-color: #003a1e;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 19px;
    margin-top: 50%;
    margin-right: 100%;
    margin-left: -90%;
}

.Downloadpunktezwei a {
    margin-top: 30%;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    padding: 10;
}

.Downloadpunktezwei:hover {
    text-align: center;
    font-size: 30px;
    background-color: #00ff84;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 19px;
    margin-top: 50%;
    margin-right: 100%;
    margin-left: -90%;
}