@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    user-select: none;
    background-color: #26282b;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #26282b;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #1a2336;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header p {
    position: start;
    text-align: start;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

footer {
    background-color: #1a2336;
    color: #fff;
    padding: 16px 100px;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: end;
}

.content {
    position: center;
    margin-top: 15%;
    margin-left: 50%;
}

.content h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ca0a0a;
}

.content h2:nth-child(2) {
    color: #ff0000;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

#zweitertextstartseite {
    margin-top: 80px;
    padding-top: 20%;
}

.Menüpunkte {
    color: #ffffff;
    background-color: #0d78808e;
    text-align: center;
    border: 7px solid #0d78808e;
    margin: 50px;
    font-size: 30px;
    border-radius: 20px;
}

.Menüpunkte a {
    border: 0px solid #ffffff;
    padding: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.Menüpunkte:hover {
    color: #ffffff;
    background-color: #00c3ff;
    border: 7px solid #00c3ff;
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.button {
    background-color: #c2185c8e;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    background-color: #ff0066;
}

.button a {
    color: #fff;
    text-decoration: none;
}

#menübutton {
    cursor: pointer;
    background-color: #c2185c8e;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    margin-top: 100px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 650px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#menübutton:hover {
    background-color: #ff0066;
    cursor: pointer;
}

#menübutton a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#Hintergrundstart {
    background-image: url(UBodigat.tk\ Hintergrund.gif);
    background-size: 100%;
}

.Verlinkungen {
    color: #ffffff;
    background-color: #0d78808e;
    text-align: center;
    border: 7px #0d78808e;
    border-radius: 0px;
    position: end;
    font-size: 30px;
}

.Verlinkungen a {
    border: 0px solid #fff;
    padding: 9.5px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.Verlinkungen:hover {
    color: #ffffff;
    background-color: #00c3ff;
}

#Verlinkungsbutton {
    margin-top: end;
    padding-top: 577px;
    position: relative;
}

#Beschreibungsüberschrift {
    text-align: start;
    margin-left: 19%;
    color: rgb(206, 177, 16);
    margin-top: 10px;
}

#Beschreibungsbild {
    margin-left: 60%;
    margin-top: -20%;
}

#Beschreibungstext {
    color: #fff;
    margin-right: 40%;
    padding-top: 50px;
    margin-left: 30px;
    user-select: text;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
}

nav a {
    border: 0px solid #ffffff;
    padding: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 1300px) {
    nav {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    nav a {
        margin: 10px 0;
    }
}

@media (min-width: 1300px) {
    nav {
        margin-left: 60%;
        margin-right: 50%;
    }
}

@media (min-width: 1500px) {
    nav {
        margin-left: 0%;
        margin-right: 0%;
    }
}

input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(12, 85, 43);
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffff;
    margin-top: 30px;
    background: transparent;
    cursor: text;
    font-size: 23px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

input:hover {
    background-color: #283763;
    text-align: center;
    color: beige;
    border: 0;
    outline: 0;
    border-bottom: 4px solid #00ff6a;
}

input:focus {
    border: 0;
    outline: 0;
    border-bottom: 3px solid #00ff6a;
}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #c2185c8e;
    color: white;
    border: unset;
    padding: 12px;
    border-radius: 4px;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button:hover {
    background-color: #ff0066;
}

#senden {
    cursor: no-drop;
    margin-left: 10px;
}

#kontaktformular {
    padding: 50px;
    padding-top: 10px;
    padding-right: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 5px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#kontaktformularüberschrift {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

#zurückbuttonkon {
    margin-top: 10%;
}

#grundkontaktformular {
    width: 100%;
    padding-top: 5px;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#zwischenablagentext {
    cursor: pointer;
}

.Downloadpunkte {
    color: #ffffff;
    background-color: #0d78808e;
    text-align: center;
    border: 7px solid #0d78808e;
    margin: 50px;
    font-size: 30px;
    border-radius: 20px;
    font-size: 25px;
}

.Downloadpunkte a {
    border: 0px solid #ffffff;
    padding: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.Downloadpunkte:hover {
    color: #ffffff;
    background-color: #00c3ff;
    border: 7px solid #00c3ff;
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

@media (max-width: 1700px) {
    .Downloadpunkte {
        margin-top: 5%;
        margin-left: 0%;
        margin-right: 0%;
    }
    #erstesfelddownloadbereich {
        margin-top: 20%;
    }
    td {
        margin: 10px;
        margin-top: -60px;
        padding: 7px;
    }
}

@media (max-width: 1500px) {
    .Downloadpunkte {
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
    }
    #erstesfelddownloadbereich {
        margin-top: 20%;
    }
    td {
        display: block;
        margin: 10px 0;
        margin-top: -60px;
        padding: 10px;
    }
}

@media (max-width: 1300px) {
    .Downloadpunkte {
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
    }
    #erstesfelddownloadbereich {
        margin-top: 20%;
    }
    td {
        display: block;
        margin: 10px 0;
        margin-top: -60px;
        padding: 10px;
    }
}

.überschriftenvideos {
    font-size: 40px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Tutorialvideos {
    margin-top: 6%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .tutorialvideos {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}