@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    user-select: none;
    background-color: #26282b;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #26282b;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #003a1e;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
}

header:hover {
    opacity: 1;
}

header p {
    position: start;
    text-align: start;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

footer {
    background-color: #1f2e1d;
    color: #fff;
    padding: 11px 50px;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: end;
}

a {
    text-decoration: none;
    color: #fff;
}

.content {
    position: center;
    margin-top: 50%;
    margin-left: 50%;
}

.content h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #37ca0a;
}

.content h2:nth-child(2) {
    color: #3cff00;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

#zweitertextstartseite {
    margin-top: 200px;
}

#startbuttonmenü {
    margin-top: 70%;
    margin-left: 80%;
}

#menütabelle {
    border-spacing: 20px 45px;
}

#menütabelle td {
    color: #ffffff;
    text-align: center;
    background-color: #016b596b;
    border: 5px solid #00ff84b9;
    padding: 15px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 20px;
}

#menütabelle td:hover {
    color: #ffffff;
    background-color: #00ff84b9;
    border: 5px solid #00ff84b9;
    box-shadow: 0 0 10px #fff, 0 0 50px #ffffff, 0 0 50px #00d66fb9, 0 0 110px #00d66fb9;
}

@media (max-width: 1000px) {
    #menütabelle td {
        padding: 10px;
        font-size: 25px;
        border: 4px solid #00ff84b9;
    }
    #menütabelle td {
        padding: 10px;
        font-size: 25px;
    }
}

@media (max-width: 840px) {
    #menütabelle td {
        padding: 7px;
        font-size: 20px;
        border: 4px solid #00ff84b9;
    }
    #menütabelle td {
        padding: 7px;
        font-size: 20px;
    }
}

@media (max-width: 670px) {
    #menütabelle td {
        padding: 5px;
        font-size: 20px;
        border: 3px solid #00ff84b9;
        font-weight: 600;
    }
    #menütabelle td {
        padding: 5px;
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    #erstetabellenmenüpunkt {
        margin-top: 50%;
    }
    #erstetabellenmenüpunkt1mal1 {
        margin-top: 50%;
    }
    #menütabelle td {
        color: #ffffff;
        text-align: center;
        background-color: #016b596b;
        border: 4px solid #00ff84b9;
        padding: 15px;
        font-size: 30px;
        font-weight: 500;
        border-radius: 20px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    td {
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #wetterbericht {
        display: none;
    }
}

@media (max-width: 695px) {
    #erstetabellenmenüpunkt1mal1 {
        margin-top: 60%;
    }
}

@media (max-width: 355px) {
    #erstetabellenmenüpunkt1mal1 {
        margin-top: 80%;
    }
}

.button {
    background-color: #012f6b;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    background-color: #006eff;
    color: #003a1e;
    font-weight: 800;
}

.button a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    margin: 50px;
    border-radius: 20px;
}

main a {
    border: 0px solid #ffffff;
    padding: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 1300px) {
    main {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    main a {
        margin: 10px 0;
    }
}

@media (min-width: 1300px) {
    main {
        margin-left: 60%;
        margin-right: 50%;
    }
}

@media (min-width: 1500px) {
    main {
        margin-left: 0%;
        margin-right: 0%;
    }
}

input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #0c552b;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffff;
    margin-top: 30px;
    background: transparent;
    cursor: text;
    font-size: 23px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

input:hover {
    background-color: #283763;
    text-align: center;
    color: beige;
    border: 0;
    outline: 0;
    border-bottom: 4px solid #00ff6a;
}

input:focus {
    border: 0;
    outline: 0;
    border-bottom: 3px solid #00ff6a;
}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #00461e;
    border: unset;
    padding: 12px;
    border-radius: 4px;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button:hover {
    background-color: #00ff0d;
    color: #575757;
    font-weight: 800;
}

.überschriftenvideos {
    font-size: 40px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Tutorialvideos {
    margin-top: 6%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1060px) {
    .tutorialvideos {
        width: 560;
        height: 315;
    }
    #onevideo {
        margin-top: 150px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    .tutorialvideos {
        width: 530px;
        height: 285px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 30px;
    }
}

@media (max-width: 540px) {
    .tutorialvideos {
        width: 430px;
        height: 220px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 25px;
    }
}

@media (max-width: 440px) {
    .tutorialvideos {
        width: 360px;
        height: 190px;
    }
    #onevideo {
        margin-top: 150px;
    }
    .überschriftenvideos {
        margin-top: 10%;
        font-size: 20px;
    }
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}

#beschreibungsüberschrift {
    color: #fff;
    text-align: start;
    margin-top: 5%;
    margin-left: 10%;
}

#beschreibungstext {
    color: #fff;
    text-align: start;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
}

.verlinktungenbeschreibung {
    text-align: center;
    border-radius: 2px;
    display: flex;
    margin-left: 45%;
    margin-top: 8%;
}

.verlinktungenbeschreibung button :hover {
    background-color: #00ff0d;
    color: #575757;
    font-weight: 800;
}

.buttonsbeschreibungverlinken {
    text-align: center;
    color: #ffff;
    padding-left: 20px;
    margin-left: 5px;
}

.buttonsbeschreibungverlinken a :hover {
    background-color: #00ff0d;
    color: #575757;
    font-weight: 800;
}

#wixwebseitenverlinkungbeschreibung {
    color: #A0138E;
}

#discordverlinkungbeschreibeung {
    color: #5865F2;
}

@media (max-width: 1000px) {
    #beschreibungsüberschrift {
        margin-top: 15%;
    }
    #beschreibungstext {
        margin-top: 7%;
        margin-bottom: 20px;
    }
    .verlinktungenbeschreibung {
        padding: 5px;
        margin-left: 5%;
        margin-bottom: 20px;
        min-width: 0px;
        font-weight: 0;
    }
    .buttonsbeschreibungverlinken {
        padding: 10px;
    }
}

@media (max-width: 850px) {
    #beschreibungsüberschrift {
        margin-top: 15%;
    }
    #beschreibungstext {
        margin-top: 10%;
        margin-bottom: 20px;
    }
    .verlinktungenbeschreibung {
        padding: 5px;
        margin-left: 5%;
        margin-bottom: 20px;
        min-width: 0px;
        font-weight: 0;
    }
    .buttonsbeschreibungverlinken {
        padding: 10px;
    }
}

@media (max-width: 700px) {
    #beschreibungsüberschrift {
        margin-top: 150px;
    }
}

@media (max-width: 550px) {
    #beschreibungsüberschrift {
        text-align: center;
        margin-left: 15px;
        margin-top: 25%;
    }
    #beschreibungstext {
        margin-top: 10%;
        margin-bottom: 15px;
        margin-left: 0px, 0%;
        margin-right: 0px, 0%;
        text-align: center;
    }
    .verlinktungenbeschreibung {
        display: block;
        margin-bottom: 10px;
    }
    .buttonsbeschreibungverlinken {
        display: block;
        margin-bottom: 10px;
        margin-left: 30%;
    }
}

@media (max-width: 490px) {
    #beschreibungsüberschrift {
        margin-top: 200px;
    }
}

@media (max-width: 1400px) {
    .content {
        font-size: 15px;
        padding-top: 5%;
    }
}

@media (max-width: 1310px) {
    .content {
        font-size: 11px;
        padding-top: 5%;
    }
}

@media (max-width: 970px) {
    .content {
        font-size: 8px;
        margin-top: -60%;
    }
    #zweitertextstartseite {
        margin-top: 80px;
    }
    #startbuttonmenü {
        margin-top: 40%;
        margin-left: 40%;
    }
}

@media (max-width: 700px) {
    .content {
        font-size: 6px;
        margin-top: -60%;
    }
    #zweitertextstartseite {
        margin-top: 80px;
    }
    #startbuttonmenü {
        margin-top: 50%;
        margin-left: 0%;
    }
}


/*CSS Code für kontakt.html*/

#kontaktformularüberschrift {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

#zurückbuttonkon {
    color: #fff;
    margin-top: 10%;
}

#zurückbuttonkon:hover {
    cursor: pointer;
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
}

#senden {
    color: #fff;
    margin-left: 10px;
}

#senden:hover {
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
}

#grundkontaktformular {
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: text;
    display: flex;
    height: 54px;
    width: 100%;
    min-height: 56px;
    max-height: 200px;
    padding: 15px;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 23px;
    border-radius: 3px;
    resize: vertical;
    overflow-y: auto;
    border: 0;
    outline: 0;
    color: #ffff;
    border-bottom: 2px solid #0c552b;
    background: transparent;
    overflow-wrap: break-word;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

#grundkontaktformular::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

#grundkontaktformular::-webkit-scrollbar-track {
    background: transparent;
}

#grundkontaktformular::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid transparent;
}

#grundkontaktformular:hover {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    background-color: #0c552a1e;
    border-bottom: 2px solid #00ff6a;
}

#grundkontaktformular:focus {
    font-size: 15px;
    padding-top: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    background-color: #0c552a1e;
    border-bottom: 2px solid #00ff6a;
}

#contact-form {
    color: #fff;
    background-color: #003a1e44;
    max-width: 400px;
    margin-top: 3%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="checkbox"]:hover {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    background-color: #0c552a1e;
    border-bottom: 2px solid #00ff6a;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    background-color: #0c552a1e;
    border-bottom: 2px solid #00ff6a;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    accent-color: #00ff6a;
}

#communication-agreement {
    color: #fff;
}

@media (max-width: 960px) {
    #contact-form {
        margin-top: 15%;
    }
}

@media (max-width: 610px) {
    #contact-form {
        margin-top: 30%;
    }
}

@media (max-width: 510px) {
    #contact-form {
        margin-top: 35%;
    }
}

@media (max-width: 430px) {
    #contact-form {
        margin-top: 50%;
    }
}

@media (max-width: 380px) {
    #contact-form {
        margin-top: 55%;
    }
    #contact-form button {
        margin-top: 10px;
        margin-left: 25%;
        display: block;
    }
}

@media (max-width: 340px) {
    #contact-form {
        margin-top: 60%;
    }
}


/*CSS Code für download.hmtl*/

#maindownload {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    margin-top: 15%;
    margin-bottom: 20px;
    text-align: start;
}

.container p {
    margin-bottom: 8%;
    text-align: start;
}

.download-link {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #4CAF50;
}

.download-link:hover {
    cursor: pointer;
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
}

.download-link a:hover {
    color: #575757;
    font-weight: 750;
}

.download-link-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.download-link {
    flex-basis: calc(50% - 10px);
    background-color: #003a1e;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.download-link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

@media (max-width: 800px) {
    .download-link a {
        padding: 0px;
        margin: 1px;
    }
    .container h2 {
        margin-top: 150px;
    }
}

@media (max-width: 430px) {
    .download-link a {
        padding: 5px;
        font-size: 15px;
    }
    .container h2 {
        margin-top: 150px;
    }
}


/*CSS Code für tutorials.html*/

iframe {
    border-radius: 20px;
}


/*Hintergründe*/

#Hintergrundstart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Bilder/ubodigat.com\ Hintergrund.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#Hintergrundmenü {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(Bilder/ubodigat.com\ Menü\ Hintergrund.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#Hintergrundbeschreibung {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(Bilder/ubodigat.com\ Beschreibung\ Hintergrund.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#downloadpage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Bilder/ubodigat.com\ download\ Hintergrund.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#tutorialshintergrund {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9)), url(/Bilder/ubodigat.com\ Tutorial\ Hintergrund.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#kontakthintergrund {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/Bilder/ubodigat.com\ Kontakt\ Hintergrund.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/*Ab hier Wetterbericht (menü.html)*/

#wetterbericht {
    color: #24ff5b;
    text-align: end;
    justify-content: end;
    align-items: end;
    margin-top: -100px;
    margin-right: 20px;
    margin-bottom: 50px;
}

@media (max-width: 1230px) {
    #wetterbericht {
        margin-right: 60px;
    }
}


/*Responsive header*/

@media (max-width: 960px) {
    #headerinput a {
        margin-top: 50px;
    }
}

@media (max-width: 680px) {
    #headerinput a {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    #headerinput a {
        margin-left: 40px;
        margin-right: -40px;
    }
}

@media (max-width: 560px) {
    #headerinput a {
        margin-left: 65px;
        margin-right: -65px;
    }
}

@media (max-width: 540px) {
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -85px;
        margin-bottom: 0px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    nav header div {
        margin-bottom: 10px;
    }
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

@media (max-width: 350px) {
    nav header div {
        margin-bottom: 10px;
    }
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    #headerinput a {
        margin-left: 80px;
        margin-right: -80px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}