@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    padding-top: 32px;
    scrollbar-width: thin;
    background-color: #26282b;
    user-select: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(/bilder/ubodigat.com\ Lernapp\ Hintergrund.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#lernapphintergrund::-webkit-scrollbar {
    width: 12px;
}

#lernapphintergrund::-webkit-scrollbar-track {
    background: #26282b;
}

#lernapphintergrund::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #003a1e;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
    z-index: 2;
}

header:hover {
    opacity: 1;
}

header p {
    position: start;
    text-align: start;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}

.button {
    transition: 0.5s;
    background-color: #012f6b;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    transition: 0.5s;
    background-color: #006eff;
    color: #003a1e;
    font-weight: 900;
}

.button a {
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

.mainbutton {
    transition: 0.5s;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mainbutton:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 900;
}

.mainbutton a {
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 400;
}

.col-1400 {
    display: flex;
    height: 100%;
}

.col {
    padding: 0;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 32px 32px;
    margin-left: -1px;
}

.col-1400 section:first-of-type {
    margin-left: 0px;
}

select {
    background-color: #1a2336;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 160px;
}

select:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

select>option {
    padding: 12px
}

.mb-16 {
    margin-bottom: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row * {
    margin-right: 16px;
}

.play-btn {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.play-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.play-btn:before {
    content: '\25BA';
    color: #161b2c;
}

.pause-btn::before {
    content: '■' !important;
    font-size: 24px;
    margin-top: -7px;
}

::placeholder {
    color: white;
}

.card {
    background-color: #1a2336;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.width-20 {
    width: 20%;
    flex: unset;
}

.width-25 {
    width: 25%;
    flex: unset;
}

.width-50 {
    width: 50%;
    flex: unset;
}

.width-75 {
    width: 75%;
    flex: unset;
}

.min-height-25 {
    min-height: 25%;
}

.min-height-50 {
    min-height: 50%;
}

.min-height-75 {
    min-height: 75%;
}

.col-850 {
    display: flex;
}

.fill-rest {
    flex: 1;
}

#from {
    margin-left: 15%;
    margin-top: 0.75%;
}

a {
    color: #ffffff;
}

#verlinkunghinzu {
    margin-top: -100px;
    padding-right: -100px;
}

#verlinkunghinzu2 {
    padding-left: 1300px;
}

input {
    transition: 0.5s;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(12, 85, 43);
    padding: 15px;
    text-align: center;
    color: #ffff;
    background: rgba(255, 255, 255, 0.1);
    cursor: text;
    font-size: 23px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: block;
}

input:hover {
    transition: 0.5s;
    background-color: #28376352;
    text-align: center;
    color: beige;
    cursor: auto;
    border: 0;
    outline: 0;
    border-bottom: 4px solid #00ff6a;
}

input:focus {
    transition: 0.5s;
    border: 0;
    outline: 0;
    border-bottom: 3px solid #00ff6a;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

input#Antwort {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background: #333;
    color: white;
}

footer {
    text-align: center;
}

#main {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 120px;
}

#Antwort {
    margin: 0;
    margin-top: 40px;
}

#Prüfen {
    margin: 0;
    padding: 12px 24px;
    font-size: 18px;
}

#löschen {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #1f2e1d;
    color: white;
}

#löschen:hover {
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

#Übungsliste {
    margin: 40px auto;
    width: 90%;
    list-style-type: none;
    padding: 0;
}

#Übungsliste li {
    background: rgba(40, 40, 40, 0.95);
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#Abtrennung {
    color: red;
    font-size: 25px;
    white-space: nowrap;
}

#Hinzufügebutton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#Hinzufügebutton:hover {
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

#diefrage {
    margin-top: 35px;
}

#mainstaff {
    margin-top: 9%;
}

#übungszeit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#übungszeit p {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

#dauer {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#lösungstext {
    transition: 0.5s;
    line-height: 2%;
    color: #303030;
    background: #303030;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px auto 40px auto;
    max-width: 450px;
    word-wrap: break-word;
    z-index: 2;
    text-align: center;
}

#lösungstext:hover {
    display: block;
    transition: 0.5s;
    line-height: 30px;
    color: #fff;
    cursor: help;
    background: #303030;
    padding: 10px 5px;
    border-radius: 10px;
    padding-bottom: 4%;
    z-index: 1;
    #falscheantwort {
        display: block;
    }
    #richtigelösung {
        display: block;
    }
}

#überblendung,
#überprüfungstext {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#überblendung {
    display: none;
}

#überprüfungstext {
    margin-top: 30px;
}

#falscheantwort {
    color: red;
    z-index: 1;
    display: none;
}

#richtigelösung {
    color: #00ff6a;
    z-index: 1;
    display: none;
}

.lösungstext {
    display: none;
}

#Übungsliste li:hover .lösungstext {
    display: block;
}

.delete-icon,
.edit-icon {
    margin-right: 10px;
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    padding: 3px;
    background-color: #46464686;
    border-radius: 30%;
    z-index: 1;
}

.delete-icon:hover {
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    padding: 3px;
    background-color: #f7f7f786;
    border-radius: 30%;
}

.edit-icon {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px;
    background-color: #46464686;
    border-radius: 30%;
    z-index: 1;
}

.edit-icon:hover {
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px;
    color: black;
    background-color: #ffffffb0;
    border-radius: 30%;
}

#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#popupContent {
    background: #26282b;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
}

#popupContent input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.question-label,
.answer-label {
    color: red;
    font-size: 25px;
    white-space: nowrap;
}

#antworttextinbearbeitung {
    margin-top: 60%;
}

label {
    margin-left: 6%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
}

#fragenstellung {
    margin-bottom: 30px;
}


/*Responsive header*/

@media (max-width: 960px) {
    #headerinput a {
        margin-top: 50px;
    }
    #fragenliste {
        margin-right: 20%;
    }
}

@media (max-width: 680px) {
    #headerinput a {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    #main {
        margin-top: 120px;
        padding: 10px;
    }
    input#Antwort {
        font-size: 16px;
    }
    #Prüfen {
        font-size: 16px;
    }
    #löschen {
        font-size: 12px;
        padding: 8px 16px;
    }
}

@media (max-width: 560px) {
    #headerinput a {
        margin-left: 65px;
        margin-right: -65px;
    }
}

@media (max-width: 540px) {
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -85px;
        margin-bottom: 0px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    nav header div {
        margin-bottom: 10px;
    }
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

@media (max-width: 350px) {
    nav header div {
        margin-bottom: 10px;
    }
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    #headerinput a {
        margin-left: 80px;
        margin-right: -80px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

.small-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.small-button:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

#form-container {
    background: #1a1a1a;
    padding: 38px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin: 50px auto 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.checkbox-row {
    margin-bottom: 20px;
}

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.export-import-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.export-import-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.export-import-buttons button:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.form-area {
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    width: 300px;
    margin: 10px 0;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

input[type="text"]:focus {
    border: 2px solid #00ff0d;
}

.checkbox-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    gap: 10px;
}

.checkbox-line input[type="checkbox"] {
    width: 24px;
    height: 24px;
    accent-color: #00ff0d;
    cursor: pointer;
}

#caseSensitiveCheckbox {
    margin-top: -50%;
    cursor: pointer;
}

.label {
    color: red;
    font-weight: bold;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.input-row input {
    flex: 1;
    max-width: 100%;
    padding: 12px;
    border: none;
    background: #333;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.button-row {
    margin-bottom: 5px;
}

.button-row button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button-row button:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.popup-buttons button {
    margin: 0;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 150px;
}

.popup-buttons button:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #003a1e;
}

.checkbox-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

#alle-löschen-button {
    background-color: #163d1d;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#alle-löschen-button:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

#streak-counter {
    font-size: 20px;
    color: orange;
    display: flex;
    align-items: center;
    gap: 5px;
}

#streak-counter::before {
    font-size: 24px;
}

#status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#uebungszeit h3,
#dauer {
    margin: 5px 0;
}

#streak-counter {
    margin-top: 10px;
    margin-bottom: 50px;
}

#fragen-container {
    text-align: center;
    margin-top: 0px;
}

.popup-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-button:hover {
    background-color: #00ff0d;
    color: #003a1e;
    font-weight: 700;
}

.popup-button.cancel {
    background-color: #aa0000;
}

.popup-button.cancel:hover {
    background-color: #ff0000;
}

#abstand {
    margin-bottom: 2% !important;
}

#caseSensitiveContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#caseSensitiveContainer input[type="checkbox"] {
    margin-top: -30px;
    margin-bottom: -15px;
    width: 20px;
    height: 20px;
}

#caseSensitiveContainer label {
    color: white;
    font-size: 16px;
}

#popupContent {
    background: #26282b;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#popupContent input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
}

#popupContent input:hover {
    background-color: #444;
    border-bottom: 3px solid #00ff6a;
}

#popupContent input:focus {
    background-color: #555;
    outline: none;
    border-bottom: 3px solid #00ffd5;
}

#scrollDownButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 100cm;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(175, 175, 175, 0.25);
    transition: all 0.5s ease;
    overflow: hidden;
}

#scrollDownButton:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.1);
    box-shadow: 0 6px 18px rgba(255, 255, 255, 0.35);
}