@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #26282b;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #26282b;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #003a1e;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
}

header:hover {
    opacity: 1;
}

header p {
    position: start;
    text-align: start;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}

.button {
    transition: 0.5s;
    background-color: #012f6b;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    transition: 0.5s;
    background-color: #006eff;
}

.button a {
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

#sqllernapphintergrund {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/Bilder/ubodigat.com\ sqllernapp\ Hintergrund.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/*Responsive header*/

@media (max-width: 960px) {
    #headerinput a {
        margin-top: 50px;
    }
}

@media (max-width: 680px) {
    #headerinput a {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    #headerinput a {
        margin-left: 40px;
        margin-right: -40px;
    }
}

@media (max-width: 560px) {
    #headerinput a {
        margin-left: 65px;
        margin-right: -65px;
    }
}

@media (max-width: 540px) {
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -85px;
        margin-bottom: 0px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    nav header div {
        margin-bottom: 10px;
    }
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}

@media (max-width: 350px) {
    nav header div {
        margin-bottom: 10px;
    }
    header p a {
        margin-left: -70px;
    }
    #headerinput {
        display: flex;
        margin-top: -80px;
        margin-bottom: 0px;
    }
    #headerinput a {
        margin-left: 80px;
        margin-right: -80px;
    }
    #headerinput a button {
        font-size: 10px;
        margin-top: 40px;
        margin-left: 900px;
        padding: 10px;
        min-width: 100px;
        font-weight: 600;
        margin-left: 5px;
    }
}


/* Ab hier kein Grundcss code mehr*/

pre::-webkit-scrollbar {
    height: 7px;
    background: #333;
}

pre::-webkit-scrollbar-thumb {
    background-color: #66ff00a9;
    border-radius: 10px;
}

pre::-webkit-scrollbar-thumb:hover {
    background-color: #66ff00a9;
}


/* CSS für dein SQL Quiz */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #333;
}

#quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000004d;
    text-align: center;
    margin-top: 40px;
}

#question-container {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

#options {
    display: flex;
    flex-direction: column;
}

.option {
    text-align: center;
    transition: 0.5s;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
}

#sql-input-container {
    display: none;
    margin-top: 20px;
    margin-left: 15%;
}

#sql-input-container [type="text"] {
    background-color: #292929;
}

#sql-answer {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#submit-btn {
    transition: 0.5s;
    display: none;
    transition: background-color 0.3s ease;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

#submit-btn:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
    font-size: 14px;
}

#submit-btn2 {
    margin-right: -80%;
    transition: 0.5s;
    transition: background-color 0.3s ease;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

#submit-btn2:hover {
    transition: 0.5s;
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
    font-size: 14px;
}

#result {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

#quiz-title {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

#quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#quiz-progress {
    font-size: 18px;
    color: #fff;
}

#quiz-score {
    font-size: 18px;
    color: #fff;
}

#quiz-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popup-content h2 {
    margin: 0;
}

#popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #007BFF;
}

#popup-content button {
    transition: 0.5s;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#popup-content button:hover {
    font-size: 15px;
    transition: 0.5s;
    background-color: #00ff0d;
    color: #575757;
    font-weight: 700;
}

.progress-bar {
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 30px;
    background-color: #007BFF;
    text-align: center;
    line-height: 30px;
    color: #fff;
    transition: width 0.5s;
}

#überprüfungstext {
    color: #fff;
    font-size: 20px;
}


/* Stile für die lernen.html */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    overflow-x: auto;
}

#überschriftlernen {
    font-size: 20px;
    margin-top: 10px;
    padding: 6px 20px;
    margin-right: 73%;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #474747;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 50px;
}

h3 {
    font-size: 18px;
    margin-top: 35px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

#mainlernensql {
    margin-top: 5%;
    margin-bottom: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    background-color: #363636dc;
}

pre {
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

code {
    font-family: Consolas, monospace;
    font-size: 14px;
    background-color: #1e1e1e;
    color: #00e732;
    padding: 2px 4px;
    border-radius: 3px;
    white-space: nowrap;
    text-align: center;
    line-height: 1.2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0f0f0fbe;
    border-radius: 10px;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

table td:hover {
    cursor: pointer;
    color: #fff;
    background-color: #26523cbe;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #1e1e1e;
}

table th {
    background-color: #474747;
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #1e1e1e;
    color: #00e732;
}

#speaker {
    width: 50px;
    height: 50px;
    padding-top: 6px;
    padding-left: 3px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.play-button,
.stop-button {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
}

.stop-button:before {
    content: "■";
    font-weight: bold;
    font-size: 0px;
    border-radius: 30%;
    position: absolute;
    top: 26%;
    left: 26%;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
}

.search-bar {
    margin-top: -8%;
    margin-bottom: 20px;
    margin-left: 60%;
    display: flex;
    align-items: center;
}

#searchInput:focus {
    outline: none;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

button#searchButton {
    transition: 0.5s;
    background-color: #28813b;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

button#searchButton:hover {
    transition: 0.5s;
    background-color: #00cc29;
}

.scroll-button {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-button:hover {
    background-color: #0056b3;
}

.scroll-button.active {
    transform: scale(1.1);
}


/*Rsponsive Design*/

@media (max-width: 1520px) {
    #mainlernensql {
        margin-top: 100px;
        margin-bottom: 20px;
    }
}

@media (max-width: 960px) {
    #mainlernensql {
        margin-top: 150px;
        margin-bottom: 20px;
    }
}

@media (max-width: 670px) {
    .option {
        margin-right: 50px;
    }
}

@media (max-width: 640px) {
    .option {
        margin-right: 130px;
    }
    #question {
        margin-right: 100px;
    }
    #quiz-container {
        margin: auto;
        padding: auto;
    }
}

@media (max-width: 600px) {
    #mainlernensql {
        margin-top: 200px;
        margin-bottom: 20px;
    }
}

@media (max-width: 540px) {
    .option {
        margin-right: 200px;
    }
    #question {
        margin-right: 150px;
    }
    #submit-btn2 {
        margin-right: -200px;
    }
}

@media (max-width: 480px) {
    .option {
        margin-right: 250px;
    }
    #question {
        margin-right: 200px;
    }
    #submit-btn2 {
        margin-right: -200px;
    }
    #quiz-container {
        margin-top: 150px;
    }
}

@media (max-width: 450px) {
    .option {
        margin-right: 250px;
    }
    #question {
        margin-right: 250px;
    }
    #submit-btn2 {
        margin-right: -200px;
    }
}

@media (max-width: 320px) {
    .option {
        margin-right: 250px;
    }
    #question {
        margin-right: 300px;
    }
    #submit-btn2 {
        margin-right: -200px;
    }
}