@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #26282b;
    user-select: none;
    cursor: crosshair;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #26282b;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid #26282b;
}

header {
    background-color: #003a1e;
    color: #fff;
    text-align: start;
    padding: 16px 100px;
    font-size: 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
}

header:hover {
    opacity: 1;
}

#headerinput {
    margin-top: -40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}

#headerinput a button {
    cursor: pointer;
}

.button {
    background-color: #012f6b;
    color: #fff;
    text-decoration: none;
    border: unset;
    padding: 12px;
    border-radius: 7px;
    min-width: 160px;
    font-weight: 600;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
    background-color: #006eff;
}

.button a {
    color: #fff;
    text-decoration: none;
}

#canvas {
    padding: 25px;
    margin-top: 60px;
    cursor: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

#tastenbelegungen {
    text-align: center;
    justify-content: center;
    align-items: ce;
    background-color: #00461e;
    color: #fff;
    font-size: 30px;
    border: unset;
    padding: 5px;
    border-radius: 10px;
    min-width: 160px;
    margin: 0;
    margin-left: 100px;
    margin-top: 10px;
    cursor: crosshair;
}

#tastenbelegungen:hover {
    cursor: crosshair;
    color: #000000;
    background-color: #00ff6e;
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 255, 255), 0 0 82px rgb(165, 165, 165), 0 0 92px rgb(179, 83, 27), 0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
}

#tastenbelegungenüberschrift {
    cursor: crosshair;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: -25px;
}

#überschriftlink {
    text-decoration: none;
    color: #fff;
}

#snakehintergrund {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/Bilder/ubodigat.com\ Snake\ Game\ Hintergrund.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}